<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cocktailpedia</title>
  <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css" />
  <link rel="stylesheet" href="style.css">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="app.js" defer></script>
</head>

<body>
  <div id="app">

    <div id="composants">
      <random-cocktail-form @generate="setCocktails" @random="setCocktails"></random-cocktail-form>

      <cocktail-by-ingredient-form @generate="setCocktails"></cocktail-by-ingredient-form>

      <cocktail-by-name-form @generate="setCocktails"></cocktail-by-name-form>

    </div>
    
    <h1>{{cocktails != null ? cocktails.length : 0}} résultat{{cocktails != null && cocktails.length > 1 ? "s" : ""}}
    </h1>

    <div id="cocktail">
      <p v-if="cocktails==null">
        😔<i>Votre recherche n'a donné aucun résultat...</i>😔
      </p>

        <cocktail-description v-else v-for="cocktail in cocktails" :key="cocktail.idDrink" :cocktail="cocktail">
        </cocktail-description>

      
    </div>

    <p v-if="cocktails!=null && cocktails.length==0">
      <i>Vous n'avez pas encore recherché de cocktail.</i>
    </p>

  </div>
</body>

</html>